<!doctype html>
<html xmlns:th="https://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <title>Blog::Post</title>
</head>
<body>
<div class="container">
  <h2><a th:href="@{'/'}">Home</a></h2>
  <div class="post">
    <h2 th:text="${post.title}">Title</h2>
    <h5 th:text="'Published on ' + ${post.getCreatedAt()}">Created at </h5>
    <p th:text="${post.body}">body text</p>
    <br>
  </div>
</div>
</body>
</html>